<div class="card govco-card p-3 mb-3">
  <div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm"
    [ngClass]="{'invalid-form' : invalidForm}">
    <div class="row card-header pt-0">
      <h3 class="m-0 title-section">Consulta de trámite</h3>
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="sustancia" class="form-group-govco">Número de radicado</label>
          <input class="form-control input-govco" formControlName="numero_radicado" maxlength="10" minlength="3"
            placeholder="Ej: 1 0 2 0 3 9 0 4 9" />
        </div>

        <div class="col-md-6 form-group select-govco">
          <label for="selector-normal" class="form-group-govco">Codigó de verificación</label>
          <input class="form-control input-govco" formControlName="codigo_verificacion" maxlength="10" minlength="3"
            placeholder="Ej: 1 0 2 0 3 9 0 4 9" />
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class=" col-md-12 registro-consulta-footer">
        <button id="save-user" (click)="RealizarConsulta()" class="btn btn-round btn-high">CONSULTAR</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarResultados" class="card govco-card p-3 mb-3">
  <h3 class="m-1 title-section">Resultados</h3>
  <br>
  <app-resultado></app-resultado>
</div>
