<div id="descargar-rspp-container" class="row">
  <app-tramite-detail class="col-md-12" [name]="'descargar-rspp'" [owner]="'ica'" [id]="'S008'">
  </app-tramite-detail>

  <div class="col-md-9 tramite-area">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-3 area-servicio">
    <govco-area-servicios module="Tramites" itemid="1033" step="2"></govco-area-servicios>
    <app-btn-volver [tramite]="'ficha-tramites-y-servicios/TS008'" [type]="'redirect'">
    </app-btn-volver>
  </div>
</div>