<div class="card govco-card p-3 mb-3">
  <div class="row card-header pt-0">
    <h3 class="m-0 title-section">Documentos del trámite</h3>
  </div>
  <br>
  <div class="table-simple-headblue-govco">
    <table class="table display table-responsive-sm table-responsive-md" style="width:100%">
      <thead>
        <tr>
          <th>Obligatorio</th>
          <th>Mátricula</th>
          <th>Anotaciones adicionales </th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: bold; text-align: center;">Si</td>
          <td><label style="font-weight: bold;">Oficio remisorio</label>(Carta de Solicitud)</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</td>
          <td style="width:180px">
            <ul>
              <li><span class="govco-icon govco-icon-eye-n "><label class="form-group-govco">Ver</label></span></li>
              <li><span class="govco-icon govco-icon-attached-p" (click)='SeleccionarArchivo()'><label
                    class="form-group-govco">Adjuntar</label></span></li>
              <li><span class="govco-icon govco-icon-delete-n "><label class="form-group-govco">Eliminar</label></span>
              </li>
            </ul>
        </tr>

        <tr>
          <td style="font-weight: bold; text-align: center;">Si</td>
          <td><label style="font-weight: bold;">Certificación</label>(Afiliación Arl)</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</td>
          <td style="width:180px">
            <ul>
              <li><span class="govco-icon govco-icon-eye-n "><label class="form-group-govco">Ver</label></span></li>
              <li><span class="govco-icon govco-icon-attached-p" (click)='SeleccionarArchivo()'><label
                    class="form-group-govco">Adjuntar</label></span></li>
              <li><span class="govco-icon govco-icon-delete-n "><label class="form-group-govco">Eliminar</label></span>
              </li>
            </ul>
        </tr>

        <tr>
          <td style="font-weight: bold; text-align: center;">Si</td>
          <td><label style="font-weight: bold;">Informe</label>(Relación deLos cargos)</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</td>
          <td style="width:180px">
            <ul>
              <li><span class="govco-icon govco-icon-eye-n "><label class="form-group-govco">Ver</label></span></li>
              <li><span class="govco-icon govco-icon-attached-p" (click)='SeleccionarArchivo()'><label
                    class="form-group-govco">Adjuntar</label></span></li>
              <li><span class="govco-icon govco-icon-delete-n "><label class="form-group-govco">Eliminar</label></span>
              </li>
            </ul>
        </tr>

        <tr>
          <td style="font-weight: bold; text-align: center;">Si</td>
          <td><label style="font-weight: bold;">Oficio remisorio</label>(Manifestación de existencia o no de sindicato)
          </td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</td>
          <td style="width:180px">
            <ul>
              <li><span class="govco-icon govco-icon-eye-n "><label class="form-group-govco">Ver</label></span></li>
              <li><span class="govco-icon govco-icon-attached-p" (click)='SeleccionarArchivo()'><label
                    class="form-group-govco">Adjuntar</label></span></li>
              <li><span class="govco-icon govco-icon-delete-n "><label class="form-group-govco">Eliminar</label></span>
              </li>
            </ul>
        </tr>

        <tr>
          <td style="font-weight: bold; text-align: center;">Si</td>
          <td><label style="font-weight: bold;">Copia del reglamento del contrato</label>(Reglamento interno de trabajo)
          </td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</td>
          <td style="width:180px">
            <ul>
              <li><span class="govco-icon govco-icon-eye-n "><label class="form-group-govco">Ver</label></span></li>
              <li><span class="govco-icon govco-icon-attached-p" (click)='SeleccionarArchivo()'><label
                    class="form-group-govco">Adjuntar</label></span></li>
              <li><span class="govco-icon govco-icon-delete-n "><label class="form-group-govco">Eliminar</label></span>
              </li>
            </ul>
        </tr>
      </tbody>
    </table>
    <br>

    <div class="row">
      <div class="col-md-12">
        <div class="row recaptcha-container">
          <div class="form-group">
            <re-captcha></re-captcha>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class=" col-md-12 registro-consulta-footer">
        <a class="btn btn-round btn-middle" (click)='regresar()'>REGRESAR</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-round btn-high" (click)="radicar()">RADICAR</button>
      </div>
    </div>

  </div>
</div>
