<div class="card govco-card p-3 mb-3">
  <div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm"
    [ngClass]="{'invalid-form' : invalidForm}">

    <div class="row card-header pt-0">
      <h3 class="m-0 title-section">Datos del trámite</h3>
    </div>

    <label class="form-group-govco">Circunstancias de modo y lugar que conllevan a esta situación de este
      trámite</label>
    <textarea class="form-control" formControlName="circunstancia" ngDefaultControl rows="5"
      placeholder="Ej: campo de texto" minlength="150" maxlength="500"></textarea>
    <br>
    <div class="row card-header pt-0">
      <h3 class="m-0 title-section">Dirección territoriales a la cual presenta su trámite</h3>
    </div>

    <div class="select-govco">
      <div class="row card-header pt-0">
        <label class="form-group-govco">Seleccione una ubicación</label>
      </div>
      <div class="col-md-6">
        <app-dropdownlist ngDefaultControl formControlName="direccion_territorial" placeholder="Ingrese un valor"
          [items]="listaSistemaOrganico">
        </app-dropdownlist>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
          <span class="govco-icon govco-icon-plus-p " (click)='AgregarDireccionTerritorial()'><label
              class="form-group-govco">Agregar</label></span>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="table-simple-headblue-govco">
          <table class="table display table-responsive-sm table-responsive-md" style="width:80%">
            <thead>
              <tr>
                <th>Dirección Territorial Relacionada</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf='direccionTerritorial'>
                <td>{{direccionTerritorial}}</td>
                <td>
                  <span class="govco-icon govco-icon-delete-n " (click)='EliminarDireccionTerritorial()'></span>
                </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <br>
    <div class="row card-header pt-0">
      <h3 class="m-0 title-section">Número de radicado a relacionar</h3>
    </div>

    <div class="select-govco">
      <div class="row card-header pt-0">
        <label class="form-group-govco">Escribe el número de radicado que te dio el sistema</label>
      </div>
      <div class="col-md-6">
        <input class="form-control input-govco" formControlName="numero_radicado" maxlength="10" minlength="3"
          placeholder="00000-123" />
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
          <span class="govco-icon govco-icon-plus-p " (click)='AgregarNumeroRadicado()'><label
              class="form-group-govco">Agregar</label></span>
        </div>
        <div class="col-md-2">

        </div>
      </div>
      <br>
      <div class="table-simple-headblue-govco">
        <table class="table display table-responsive-sm table-responsive-md" style="width:80%">
          <thead>
            <tr>
              <th>Radicados Referidos</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf='numero_radicado'>
              <td >{{numero_radicado}}</td>
              <td><span class="govco-icon govco-icon-delete-n " (click)='EliminarNumeroRadicado()'></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  <div class="row">
    <div class="col-md-6">
      <div class="row card-header pt-0">
        <label class="form-group-govco">¿La entidad tiene pactos o convenciones colectivas?</label>
      </div>
      <app-dropdownlist ngDefaultControl formControlName="convenciones_colectivas" placeholder="Ingrese un valor"
        [items]="listaSINO">
      </app-dropdownlist>
    </div>
    <div class="col-md-6">
      <div class="row card-header pt-0">
        <label class="form-group-govco">¿La empresa está obligada a tener reglamento de trabajo?</label>
      </div>
      <app-dropdownlist ngDefaultControl formControlName="reglamento_trabajo" placeholder="Ingrese un valor"
        [items]="listaSINO">
      </app-dropdownlist>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="row card-header pt-0">
        <label class="form-group-govco">Indicar, ¿Si existe o no organizaciones sindicales dentro de la empresa?</label>
      </div>
      <app-dropdownlist ngDefaultControl (change)="MostrarOrganizacionesSindicales()" formControlName="organizaciones_sindicales" placeholder="Ingrese un valor"
        [items]="listaSINO">
      </app-dropdownlist>
    </div>
  </div>
</div>
  <br>

  <div *ngIf="mostrarOrganizacionesSindicales">
    <app-organizacionessindicales></app-organizacionessindicales>
  </div>

</div>
