@import "../../../../../../scss/base/_colors.scss";

.table-fixed tbody {
  height: auto;
  overflow-y: auto;
  width: 100%;
  }
  .table-fixed thead,
  .table-fixed tbody,
  .table-fixed tr,
  .table-fixed td,
  .table-fixed th {
  display: block;
  }
  .table-fixed tr:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  }
  .table-fixed tbody td,
  .table-fixed thead > tr > th {
  float: left;
  }

  .table > thead > tr > th,
  .table > thead > tr > td {
  border-bottom: 0;
  
  vertical-align: text-bottom;
  
  background: $color-dark-blue;
  color: #ffffff;
  }

.m-r{  
    border-right: 2px solid $color-dark-blue;
}

.m-b{  
  border-bottom: 2px solid $color-dark-blue;
}

.m-t{  
    border-top: 2px solid $color-dark-blue;
  }

.n-t{
  border-top: none;
}