.registro-consulta-footer {
    text-align: center;
  
    button {
        margin: 10px;
    }
  }
  
  .main-invima-advice {
    margin-top: 2rem;  
    .govco-card {
        padding: 1rem!important;
        text-align: justify;
    }
  }