<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <h3 class="col-md-10">Imagen de seguridad</h3>
        <h3 class="col-md-2 numero-pregunta">4/12</h3>
      </div>
    </div>

    <div class="col-md-12">
      <p>Selecciona una imagen de seguridad, que aparecerá siempre que te autentiques,
        sí no la reconoces, inténtalo de nuevo.</p>
    </div>

    <div class="col-md-12">
      <img src="http://img.fenixzone.net/i/AO5JUV2.png" alt="image" class="img-respuesta" />
      <img src="http://img.fenixzone.net/i/AO5JUV2.png" alt="image" class="img-respuesta" />
      <img src="http://img.fenixzone.net/i/AO5JUV2.png" alt="image" class="img-respuesta" />
    </div>
  </div>
</div>
<!-- fin pregunta 3 -->