<div class="row">
    <div class="col-12 pb-3" *ngIf="invalidForm">
        <app-notifications [typeMessage]="'error'" [show]="invalidForm" [message]="mensaje_error"
            [title]="'Lo sentimos'">
        </app-notifications>
    </div>
</div>
<div class="card govco-card p-0 ">
    <div class="centrar p-4 mb-3">
        <div class="row mt-1">
            <div class="col-4">
            </div>
            <div class="col-4 m-auto p-0">
                <h3 class="m-0">Inicio de sesión</h3>
            </div>
            <div class="col-4">
                <a class="btn-symbolic-govco d-flex">                    
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 centrado">
                <div [formGroup]="seleccionForm" [ngClass]="{'invalid-form': invalidForm}" appInputValidator
                    [validate]="invalidForm">
                    <div class="form-group">
                        <label for="Username" class="form-group-govco">Usuario *</label>
                        <input class="form-control input-govco" type="text" formControlName="username" minlength="4" maxlength="20" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-group-govco">Contraseña *</label>
                        <input id="password" class="form-control input-govco" [type]="typeButton"
                            formControlName="password" maxlength="32" minlength="4" />
                    </div>
                </div>
                <div class="form-group text-center">
                    <label class="chk-govco mt-0">
                        <input type="checkbox" id="showPassword" (click)="checkShowPassword()" />
                        <label class="form-group-govco">
                            Mostrar contraseña
                        </label>
                        <div class="chk-govco__indicator"></div>
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" col-md-12 registro-consulta-footer">
                <a class="btn btn-round btn-high" (click)="autenticarUsuario()">INGRESAR</a>
            </div>
        </div>
    </div>
    <div class="p-4 bg-color-selago footer-options">
        <a id="forgot-pass-btn" class="left btn-low color-dark-blue" (click)="olvidar_password()"> Olvidé mi
            contraseña </a>
        <a id="forgot-pass-btn" class="right btn-low color-dark-blue" (click)="registrarme()"> Registrarme </a>
    </div>
</div>