<div class="card-header pt-0">
    <h3 class="title-section">Datos persona juridica</h3>
</div>
<div class="card-body pt-0">
    <div class="col-12">
        <div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm"
            [ngClass]="{'invalid-form' : invalidForm}">
            <div class="row">
                <div class="col-md-6 form-group select-govco mb-3">
                    <label class="normal-font" for="selector-normal">Tipo de documento *</label>
                    <app-dropdownlist ngDefaultControl formControlName="tipo_documento" (change)="setValidator()" placeholder="Ingrese un valor"
                        [items]="listaTipoDocumento">
                    </app-dropdownlist>
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Número de documento *</label>
                    <input class="form-control input-govco" minlength="4" maxlength="15" formControlName="numero_documento" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Razón social</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25" formControlName="razon_social"
                        oninput="this.value=this.value.toUpperCase()" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="normal-font" for="sustancia">Dirección de correspondencia *</label>
                    <input class="form-control input-govco" formControlName="direccion" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Teléfono fijo</label>
                    <input class="form-control input-govco" minlength="7" maxlength="10" formControlName="telefono_fijo" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Teléfono celular</label>
                    <input class="form-control input-govco" minlength="1" maxlength="10" formControlName="celular" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="fax">Fax</label>
                    <input class="form-control input-govco" minlength="7" maxlength="10" formControlName="fax" />
                </div>
                <div class="col-md-6 form-group select-govco mb-3">
                    <label class="normal-font" for="selector-normal">País *</label>
                    <app-dropdownlist ngDefaultControl (change)="cargarListaDepartamento()" formControlName="pais"
                        placeholder="Ingrese un valor" [items]="listaPais">
                    </app-dropdownlist>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group select-govco mb-3">
                    <label class="normal-font" for="selector-normal">Departamento *</label>
                    <app-dropdownlist ngDefaultControl (change)="cargarListaCiudad()" formControlName="departamento"
                        placeholder="Ingrese un valor" [items]="listaDepartamento">
                    </app-dropdownlist>
                </div>
                <div class="col-md-6 form-group select-govco mb-3">
                    <label class="normal-font" for="selector-normal">Ciudad *</label>
                    <app-dropdownlist ngDefaultControl formControlName="ciudad" placeholder="Ingrese un valor"
                        [items]="listaCiudad">
                    </app-dropdownlist>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="normal-font" for="sustancia">Correo electrónico *</label>
                    <input class="form-control input-govco" minlength="4" maxlength="100" formControlName="correo" minlength="4" maxlength="100" />
                </div>
            </div>

            <br>
            <h3>Datos del representante legal</h3>
            <br>
            <div class="row">
                <div class="col-md-6 form-group select-govco mb-3">
                    <label class="normal-font" for="selector-normal">Tipo de documento</label>
                    <app-dropdownlist ngDefaultControl formControlName="tipo_documento_apoderado"
                        placeholder="Ingrese un valor" [items]="listaTipoDocumento">
                    </app-dropdownlist>
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Número de documento</label>
                    <input class="form-control input-govco" minlength="4" maxlength="15" formControlName="numero_documento_apoderado" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Primer nombre</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25" formControlName="primer_nombre_apoderado"
                        oninput="this.value=this.value.toUpperCase()" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Segundo nombre</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25" formControlName="segundo_nombre_apoderado"
                        oninput="this.value=this.value.toUpperCase()" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Primer apellido</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25" formControlName="primer_apellido_apoderado"
                        oninput="this.value=this.value.toUpperCase()" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font" for="sustancia">Segundo apellido</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25" formControlName="segundo_apellido_apoderado"
                        oninput="this.value=this.value.toUpperCase()" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="normal-font" for="sustancia">Correo Electronico</label>
                    <input class="form-control input-govco" minlength="4" maxlength="100" formControlName="correo_apoderado" maxlength="100"
                        minlength="4" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" col-md-12 registro-consulta-footer">
                    <a class="btn btn-round btn-middle"
                        (click)="accion_anterior()">ANTERIOR</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-round btn-high" (click)="accion_continuar()">CONTINUAR</a>
                </div>
            </div>
        </div>
    </div>
</div>