<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <h3 class="col-md-10">¿Es este un ejemplo de pregunta que arrojaría el servicio?</h3>
        <h3 class="col-md-2 numero-pregunta">2/12</h3>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="checklist-govco radiobutton-govco">
            <input type="radio" name="radio" checked="checked" />
            <span>1. respuesta 1 </span>
            <div class="radiobutton-govco__indicator"></div>
          </label>
          <label class="checklist-govco radiobutton-govco">
            <input type="radio" name="radio" checked="checked" />
            <span>2. respuesta 2 </span>
            <div class="radiobutton-govco__indicator"></div>
          </label>
          <label class="checklist-govco radiobutton-govco">
            <input type="radio" name="radio" checked="checked" />
            <span>3. respuesta 3 </span>
            <div class="radiobutton-govco__indicator"></div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin pregunta 1 -->