<div class="card govco-card p-3 mb-3">
  <div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm"
    [ngClass]="{'invalid-form' : invalidForm}">
    <div class="row card-header pt-0">
      <h3 class="m-0 title-section ">Organizaciones Sindicales</h3>
    </div>
    <label class="form-group-govco">Nombre de la organización Sindical</label>
    <div class="row col-md-12">
      <input class="form-control input-govco" formControlName="nombre" maxlength="100" minlength="3" />
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        <label class="form-group-govco">Sigla de la organización</label>
        <input class="form-control input-govco" formControlName="sigla" maxlength="100" minlength="3" />
      </div>
      <div class="col-4">
        <label class="form-group-govco">Número de personería jurídica</label>
        <input class="form-control input-govco" formControlName="numero" maxlength="100" minlength="3" />
      </div>
      <div class="col-3 d-inline">
        <label class="form-group-govco">Dirección</label>
        <div class="input-group input-group-sm">
          <input class="form-control input-govco h35" formControlName="direccion" maxlength="100" minlength="3" />
          <div class="input-group-append h35">
            <span class="govco-icon govco-icon-plus" (click)='abrirDireccion()'></span>
          </div>
        </div>
      </div>
      <div class="col-2 d-inline">
        <label class="form-group-govco">Opciones</label>
        <div class="govco-icon govco-icon-delete-p" (click)='limpiarOrganizacionSindical()'>
          <span
            class="btn-symbolic-govco__title btn-symbolic-govco__title--right text-uppercase d-inline-block align-middle">Eliminar</span>
        </div>
      </div>
    </div>

    <br>

    <div class="row card-header pt-0">
      <div class="row card-header pt-0">
        <div style="width: 30px;">
          <span class="govco-icon govco-icon-plus-n" (click)='agregarOrganizacionSindical()'></span>
        </div>
        <div class="btn-symbolic-govco__title btn-symbolic-govco__title--right">Agregar organización</div>
      </div>
    </div>

    <br>

    <div class="govco-table govco-table-simple">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre de la organización Sindical</th>
            <th scope="col">Sigla de la organización</th>
            <th scope="col">Número de personería jurídica</th>
            <th scope="col">Dirección</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOrganizacionesSindicales">
            <td>{{item?.nombre}}</td>
            <td>{{item?.sigla}}</td>
            <td>{{item?.numero}}</td>
            <td>{{item?.direccion}}</td>
            <td (click)='eliminarOrganizacionSindical(item)'><span class="govco-icon govco-icon-delete-n "
                style="color: #FFAB00 !important;"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
