.tramiteCard{
    border-radius: 0.5rem;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: 20px 0px 0px 0px !important;
    background: #fff;
    width: 100%;
    border: 1px;
    border-color: #E5EEFB;
    border-style: solid;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    clear: both;
    overflow: hidden;
  }
  .center{
      margin: 0 auto;
  }