.busqueda-footer {
  text-align: center;

  button {
    margin: 10px;
  }
}

.center {
  margin: auto;
  background: blue;
  text-align: center;
}

.custom-card {
  margin: 0px !important;
  padding: 1.2rem !important;
  text-align: left !important;
  width: auto !important;
}
