@import "../../../../../../scss/base/_colors.scss";

.table-fixed tbody {
    height: auto;
    overflow-y: auto;
    width: 100%;
    }
    .table-fixed thead,
    .table-fixed tbody,
    .table-fixed tr,
    .table-fixed td,
    .table-fixed th {
    display: block;
    }
    .table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    }
    .table-fixed tbody td,
    .table-fixed thead > tr > th {
    float: left;
    }

.m-r{  
    border-right: 2px solid $color-dark-blue;
}

.m-b{  
  border-bottom: 2px solid $color-dark-blue;
}

.n-t{
  border-top: none;
}

.govco-icon-down-arrow-cn::before {
  content: '\e917'; 
}
.govco-icon-down-arrow-cn{
-webkit-transform: rotate(90deg) scaleX(-1);
-moz-transform: rotate(90deg) scaleX(-1);
-ms-transform: rotate(90deg) scaleX(-1);
-o-transform: rotate(90deg) scaleX(-1);
transform: rotate(90deg) scaleX(-1);
}