<div class="row">
  <div class="col-12 pb-3">
    <app-notifications [typeMessage]="'error'" [message]="messages.searchEmpty" [title]="'Lo sentimos'"
      [show]="failureRequest"></app-notifications>
  </div>
</div>

<div class="card govco-card">
  <div class="center">
    <h3>Recuperar contraseña</h3>
  </div>
  <div class="card-body">
    <div class="row" [formGroup]="form" [ngClass]="{'invalid-form' : invalidForm}" appInputValidator [validate]="invalidForm">
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12 input-center">
            <label for="identificacion">Aportante (Cédula o NIT)</label>
            <input class="form-control input-govco" type="text" formControlName="identificacion" (change)="setStep(2)"/>
          </div>
           <div class="row col-12 text-center my-3 mx-auto">
            <small>{{messages.help}}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-auto text-center">
        <label>
          {{ messages.advice }}
        </label>
      </div>
    <div class="row">
      <div class=" col-md-12 col-md-12 col-sm-12 aportes-parafiscales-footer">
        <button class="btn btn-round btn-high" (click)="forgotPassword()">ENVIAR</button>
      </div>
    </div>

  </div>
</div>
