<div class="row">
    <div class="col-12 pb-3" *ngIf="mostrarAlerta">
      <app-notifications [typeMessage]="tipoAlerta" [message]="mensajeAlerta" [title]="titulo"
        [show]="mostrarAlerta"></app-notifications>
    </div>
  </div>

  <div class="card govco-card p-2">
    <div class="card-header pt-4 pb-0">  
        <h3 class="m-0 title-section">Consulta</h3>
    </div>
    <div class="card-body" id="datosGenerarGroupRspp">
        <div class="col-12" [formGroup]="generarFormObtenerRspp" [ngClass]="{'invalid-form' : invalidForm}" appInputValidator [validate]="invalidForm" >
          <!--datos formulario -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label class="form-group-govco" for="numeroDocumento">Número de documento *</label>
                  <input class="form-control input-govco"
                    placeholder="Por ejemplo: 10293080" type="text" formControlName="numeroDocumento" (change)="limpiar()" />
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-group-govco" for="numeroRegistroIca">Número de registro ICA *</label>
                <input class="form-control input-govco"
                  placeholder="Por ejemplo: 0123456789" type="text" formControlName="numeroRegistroIca" (change)="limpiar()" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label class="form-group-govco" for="codigoDepartamento">Departamento *</label>
                  <app-dropdownlist ngDefaultControl (change)="actualizarDepartamento()" formControlName="codigoDepartamento" placeholder = "Por ejemplo: Meta" [items]="departamentos"></app-dropdownlist>
                </div>
            </div>
            <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-group-govco" for="codigoMunicipio">Municipio *</label>
                    <app-dropdownlist ngDefaultControl (change)="limpiar()" formControlName="codigoMunicipio" placeholder = "Por ejemplo: Villavicencio" [items]="municipios"></app-dropdownlist>
                  </div>
            </div>
          </div>          
          <div class="col-md-12" >
              <div class="row recaptcha-container m-3" >
                  <div class="form-group">
                      <re-captcha formControlName="recaptcha"></re-captcha>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-round btn-high" (click)="search()">DESCARGAR</button>
        </div>
    </div>
  </div>
