<footer class="footer page__footer footer-white footer-blue">
  <div class="container">
    <div class="footer-container">
      <div class="footer-title d-flex justify-content-center bd-highlight">
        <h2 class="title-footer">Contáctanos</h2>
      </div>
      <div
        class="nav-footer icon-white  nav-pills nav-pills-icons icon-white d-flex justify-content-center bd-highlight mb-3">
        <div class="item-footer">
          <a class="nav-link icon-white" href="https://videochat.outsourcing.com.co:481/login.html"
              onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=yes,fullscreen=no,scrollbars=no,dependent=no,width=500,height=600'); return false;"
              role="tab" data-toggle="tab">              
            <div class="govco-icon govco-icon-callin-cn"></div>
            <p class="title-contact-link">Llamada WEB </p>
            <p class="content-link">
              Solicitar llamada
            </p>
          </a>
        </div>
        <div class="item-footer">
          <a class="nav-link icon-white" href="mailto:soporteccc@mintic.gov.co">                
            <div class="govco-icon govco-icon-email-cn"></div>
            <p class="title-contact-link"> Correo electrónico </p>
            <p class="content-link">
              soporteccc@mintic.gov.co
            </p>
          </a>
        </div>
        <div class="item-footer">
          <a class="nav-link icon-white" href="#" role="tab" data-toggle="tab">
            <div class="govco-icon govco-icon-call-center-cn"></div>
            <p class="title-contact-link"> Contacto telefónico </p>
            <p class="content-link">
              Nacional: 01 8000 910742
              <br/> Bogotá: 390 7951
            </p>
          </a>
        </div>
        <div class="item-footer">
          <a class="nav-link icon-white" href="https://www.gov.co/redes-sociales-de-las-entidades">
            <div class="govco-icon govco-icon-wifi-cn"></div>
            <p class="title-contact-link"> Redes sociales </p>
            <p class="content-link">
              de las entidades
            </p>
          </a>
        </div>
        <div class="item-footer">
          <a class="nav-link icon-white" href="http://operaciones.outsourcing.com.co:8020/mINTICCall/index.php"
              onclick="window.open(this.href, 'Tedevolvemoslallamada', 'resizable=no,status=no,location=no,toolbar=no,menubar=yes,fullscreen=no,scrollbars=no,dependent=no,width=500,height=600'); return false;"
              role="tab" data-toggle="tab">
            <div class="govco-icon govco-icon-callback-cn"></div>
            <p class="title-contact-link"> Regresamos tu llamada </p>
            <p class="content-link">
              al número que nos indiques
            </p>
          </a>
        </div>
      </div>
      <div class="submenu-footer d-flex justify-content-center bd-highlight">
        <ul>
          <li>
            <a href="https://www.gov.co/conocegovco">
              Conoce a GOV.CO
            </a>
          </li>
          <li>
            <a href="https://www.gov.co/terminos-y-condiciones">
              Términos de uso
            </a>
          </li>
          <li>
            <a href="https://www.gov.co/Mapa-del-sitio">
              Mapa del sitio
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>