<div class="container-password">
  <div class="input-group form-inline">
    <input (click)="openPassword()" type="password" class="form-control input-govco" id="passwordValue"
      [attr.maxlength]="maxLength" [attr.placeholder]="placeholder" onKeyDown="return false" />
    <div class="input-group-append svg-block">
      <span class="govco-icon govco-icon-padlock-n"></span>
    </div>
  </div>
  <div class="input-group form-inline">
    <table class="tb-teclado-item position-relative" id="keyboard">
      <tr>
        <td colspan="3"></td>
      </tr>
      <div class="div-numbers">
        <tr>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(1)">1</button>
          </td>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(2)">2</button>
          </td>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(3)">3</button>
          </td>
        </tr>
        <tr>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(4)">4</button>
          </td>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(5)">5</button>
          </td>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(6)">6</button>
          </td>
        </tr>
        <tr>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(7)">7</button>
          </td>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(8)">8</button>
          </td>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(9)">9</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="td-number">
            <button class="td-number-item" (click)="setValue(0)">0</button>
          </td>
          <td class="td-number-disable">
            <button class="btn-delete" (click)="eraseValue()">
              <span class="govco-icon govco-icon-tag-n"></span>
            </button>
          </td>
        </tr>
      </div>
    </table>
  </div>
</div>
<label class="chk-govco">
  <input type="checkbox" id="showPassword" (click)="checkShowPassword()" />
  <label for="showPassword">
    Mostrar contraseña
  </label>
  <div class="chk-govco__indicator"></div>
</label>