<div [formGroup]="registerForm" *ngIf="service.pasoIngresar === 1">
    <div class="card govco-card mb-3">
        <div class="ingresar-solicitud">
            <h3 class="title-section">Ingresar solicitud</h3>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-group-govco">Tipo de solicitante *</label>
                            <app-dropdownlist ngDefaultControl formControlName="tipoSolicitante" [items]="data.tiposSolicitante">
                            </app-dropdownlist>
                            <div *ngIf="submitted && f.tipoSolicitante.errors" class="text-danger">
                                Campo sin diligenciar.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-group-govco">Tipo de documento*</label>
                            <app-dropdownlist ngDefaultControl formControlName="tipoDocumentoSolicitante" [items]="data.TiposDocumento">
                            </app-dropdownlist>
                            <div *ngIf="submitted && f.tipoDocumentoSolicitante.errors" class="text-danger">
                                Campo sin diligenciar.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-group-govco">Número de documento*</label>
                            <input class="form-control input-govco" numbersOnly formControlName="numeroDocumentoSolicitante"
                                [ngClass]="{ 'is-invalid': submitted && f.numeroDocumentoSolicitante.errors }">
                            <div *ngIf="submitted && f.numeroDocumentoSolicitante.errors" class="text-danger">
                                Campo sin diligenciar.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-group-govco">Confirmar número de documento*</label>
                            <input class="form-control input-govco" numbersOnly formControlName="numeroDocumentoSolicitante2"
                                [ngClass]="{ 'is-invalid': submitted && f.numeroDocumentoSolicitante2.errors }">
                            <div *ngIf="submitted && f.numeroDocumentoSolicitante2.errors" class="text-danger">
                                Campo sin diligenciar.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-group-govco">Nombre o razón social*</label>
                            <input class="form-control input-govco" formControlName="nombreRazonSocialSolicitante"
                                [ngClass]="{ 'is-invalid': submitted && f.nombreRazonSocialSolicitante.errors }">
                            <div *ngIf="submitted && f.nombreRazonSocialSolicitante.errors" class="text-danger">
                                Campo sin diligenciar.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-group-govco">País de expedición*</label>
                            <app-dropdownlist ngDefaultControl formControlName="paisExpedicionSolicitante" [items]="data.paises">
                            </app-dropdownlist>
                            <div *ngIf="submitted && f.paisExpedicionSolicitante.errors" class="text-danger">
                                Campo sin diligenciar.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="anexos">
            <h3 class="title-section">Anexos</h3>
            <div class="col-12 mt-3">
                <p>Según el "Tipo de documento" seleccionado en la casilla del solicitante adjunte: Fotocopia de la
                    cédula de ciudadanía (por ambas caras) o pasaporte (donde está la fotografía) o cédula de
                    extranjería o
                    tarjeta de identidad, y en caso persona jurídicas, la identificación del representante legal de la
                    entidad y la
                    identificación de la entidad con su Nit, Extensiones válidas: JPEG, PDF y PNG.
                </p>
                <div class="nota-anexos mt-3 mb-3">
                    <div id="toast-container-body">
                        <div class="toast-info p-3" aria-live="polite">
                            <div class="d-flex bd-highlight">
                                <div class="toast-title note-title">Nota</div>
                            </div>
                            <div class="toast-message">
                                <p class="m-0">Si marcó exhibición o estudio científico, y los bienes son de propiedad
                                    pública, anexe
                                    los siguientes documentos complementarios <a class="btn-low">Ver documento</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adjunto">
                    <div class="form-group">
                        <label class="form-group-govco">Descripción*</label>
                        <div id="div-textarea-item">
                            <div class="textarea-govco">
                                <div class="div-character" id="divtextarea-example">
                                    <textarea class="form-control" rows="5" placeholder="Escribe aquí tu descripción"
                                        maxlength="255" formControlName="descripcionAdjuntoSolicitante"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
                                    </textarea>
                                    <div class="div-count-character"><span class="hidden span-message-character"
                                            id="messagetextarea-example">Alcanzó el máximo de carácteres
                                            permitidos</span><span class="float-right pr-3 span-count-character"
                                            id="counttextarea-example">255</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.descripcion.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                    
                    <div class="row" text-right>
                        <div class="col-md-4  text-left">
                            <a (click)='SeleccionarArchivoSolicitante()' class="btn btn-round btn-middle">Seleccionar archivo</a>
                        </div>
                        <div class="col-md-4  text-left m-auto">
                            <a *ngIf="adjuntoPendienteSolicitante != null">{{adjuntoPendienteSolicitante.FileName}}</a>
                        </div>
                        <div class="col-md-4  text-right ">
                            <a (click)='agregarArchivoSolicitante()' class="btn btn-round btn-high">AGREGAR</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <br>
                        <b class="tg-0lax">Adjuntos:</b>
                        <br>
                        <div *ngFor="let file of adjuntosSolicitante; let i = index;" class="row border-bottom">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="m-0">{{file.FileName}}</p>
                                    <p>{{file.Description}}</p>
                                </div>
                            </div>
                            <div class="col-md-6  text-right">
                                <div class="form-group  text-right">
                                    <button type="button" class="close" aria-label="Close">
                                        <i _ngcontent-ryh-c4="" class="material-icons page-icon-close align-middle">clear</i>
                                        <u (click)='eliminarArchivoSolicitante(i)'>Eliminar</u>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card govco-card mb-3">
        <h3 class="title-section">Datos de ubicación</h3>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Departamento *</label>
                        <app-dropdownlist (change)="actualizarDepartamentoUbicacion()" ngDefaultControl formControlName="departamentoUbicacion" [items]="data.departamentos">
                        </app-dropdownlist>
                        <div *ngIf="submitted && f.departamentoUbicacion.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Municipio *</label>
                        <app-dropdownlist ngDefaultControl formControlName="municipioUbicacion" [items]="data.municipiosUbicacion">
                        </app-dropdownlist>
                        <div *ngIf="submitted && f.municipioUbicacion.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Teléfono *</label>
                        <input class="form-control input-govco" numbersOnly formControlName="telefonoUbicacion"
                            [ngClass]="{ 'is-invalid': submitted && f.telefonoUbicacion.errors }">
                        <div *ngIf="submitted && f.telefonoUbicacion.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Dirección *</label>
                        <input class="form-control input-govco" formControlName="direccionUbicacion"
                            [ngClass]="{ 'is-invalid': submitted && f.direccionUbicacion.errors }">
                        <div *ngIf="submitted && f.direccionUbicacion.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Correo electrónico *</label>
                        <input class="form-control input-govco" formControlName="correoUbicacion"
                            [ngClass]="{ 'is-invalid': submitted && f.correoUbicacion.errors }">
                        <div *ngIf="submitted && f.correoUbicacion.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Confirmación de correo electrónico *</label>
                        <input class="form-control input-govco" formControlName="correoUbicacion2"
                            [ngClass]="{ 'is-invalid': submitted && f.correoUbicacion2.errors }">
                        <div *ngIf="submitted && f.correoUbicacion2.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="aplica-interes col-12">
                    <p class="title">Solo aplica para bienes de interés cultural del ámbito nacional</p>
                    <p>
                        <span class="title">Teléfono:</span>
                        <i class="content">
                            Ingrese el indicativo del país, de la ciudad, del municipio y el número
                            telefónico. Ejemplo +57 (1) 342 4100. No ingresar datos del operador de larga distancia (09,
                            07 o 05), solo el
                            indicativo local entre paréntesis y el número de contacto.
                        </i>
                        <br>
                        <span class="title">Correo electrónico:</span>
                        <i class="content">
                            Ingrese solo una (1) dirección de correo. Debe incluirse de la manera
                            estándar, el taxto en minúsculas y sin tíldes. Ejemplo: correo@mincultura.gov.co
                        </i>
                        <br>
                        <span class="title">Dirección:</span>
                        <i class="content">
                            Este dato debe incluirse con las palabras calle, carrera, transversal, diagonal, etc.
                            completas y debe utilizarse el signo # (si aplica) y un guion. Si el nombre del barrio hace
                            parte de
                            la dirección, debe incluirse completo y sin abreviaturas.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card govco-card mb-3">
        <h3 class="title-section">Requiere intermediario</h3>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="radiobutton-govco">
                            <input type="radio" name="radio" formControlName="requiereIntermediario"
                                [(ngModel)]="requiereIntermediarioValor" value="SI" />
                            <span>SI</span>
                            <div class="radiobutton-govco__indicator"></div>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="radiobutton-govco">
                            <input type="radio" name="radio" formControlName="requiereIntermediario"
                                [(ngModel)]="requiereIntermediarioValor" value="NO" />
                            <span>NO</span>
                            <div class="radiobutton-govco__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="requiereIntermediarioValor === 'SI'">
                    <br>
                    <h3 class="tg-0lax">Intermediario</h3>
                    <p>Aplica solo cuando la solicitud es tramitada por un tercero (persona natural, empresa de
                        mudanzas,
                        agencia o
                        sociedad de intermediación aduanera SIA), en este caso diligencia los datos que siguen a
                        continuación,
                        siguiendo las mismas pautas para el solicitante, en caso contrario no diligencie este item.</p>
                    <div class="row">
                        <div class="col-md-6">
                            
                            <div class="form-group">
                                <label class="form-group-govco">Tipo de documento*</label>
                                <app-dropdownlist ngDefaultControl formControlName="tipoDocumentoIntermediario" [items]="data.TiposDocumento">
                                </app-dropdownlist>
                                <div *ngIf="submitted && f.tipoDocumentoIntermediario.errors" class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Número de documento*</p>
                                <input class="form-control input-govco" numbersOnly
                                    formControlName="numeroDocumentoIntermediario"
                                    [ngClass]="{ 'is-invalid': submitted && f.numeroDocumentoIntermediario.errors  && requiereIntermediarioValor === 'SI'}">
                                <div *ngIf="submitted && f.numeroDocumentoIntermediario.errors && requiereIntermediarioValor === 'SI'"
                                    class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Confirmar número de documento*</p>
                                <input class="form-control input-govco" numbersOnly
                                    formControlName="numeroDocumentoIntermediario2"
                                    [ngClass]="{ 'is-invalid': submitted && f.numeroDocumentoIntermediario2.errors  && requiereIntermediarioValor === 'SI'}">
                                <div *ngIf="submitted && f.numeroDocumentoIntermediario2.errors && requiereIntermediarioValor === 'SI'"
                                    class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Nombre</p>
                                <input formControlName="nombreIntermediario" class="form-control input-govco">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group-govco">País de expedición *</label>
                                <app-dropdownlist ngDefaultControl formControlName="paisExpedicionIntermediario" [items]="data.paises">
                                </app-dropdownlist>
                                <div *ngIf="submitted && f.paisExpedicionIntermediario.errors && requiereIntermediarioValor === 'SI'"
                                class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="!(colombiaSeleccionadoExpedicionIntermediario())">
                    
                            <div class="form-group">
                                <label class="form-group-govco">Ciudad *</label>
                                <input class="form-control input-govco" formControlName="ciudadIntermediario">
                                <div *ngIf="submitted && f.ciudadIntermediario.errors" class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="colombiaSeleccionadoExpedicionIntermediario()">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group-govco">Departamento *</label>
                                <app-dropdownlist (change)="actualizarDepartamentoIntermediario()" ngDefaultControl formControlName="departamentoIntermediario" [items]="data.departamentos">
                                </app-dropdownlist>
                                <div *ngIf="submitted && f.departamentoIntermediario.errors && colombiaSeleccionadoExpedicionIntermediario()"
                                    class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group-govco">Municipio *</label>
                                <app-dropdownlist ngDefaultControl formControlName="municipioIntermediario" [items]="data.municipiosIntermediario">
                                </app-dropdownlist>
                                <div *ngIf="submitted && f.municipioIntermediario.errors && colombiaSeleccionado()" class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <br>
                    <h3 class="tg-0lax">Anexos</h3>
                    <p>Según el "Tipo de documento" seleccionado en la casilla del solicitante adjunte: Fotocopia de la
                        cédula
                        de
                        ciudadanía (por ambas caras) o pasaporte (donde está la fotografía) o cédula de extranjería o
                        tarjeta de
                        identidad, y en caso persona jurídicas, la identificación del representante legal de la entidad
                        y la
                        identificación de la entidad con su Nit, Extensiones válidas: JPEG, PDF y PNG.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <br>
                                <p>Descripción</p>
                                <div id="div-textarea-item" class="pt-3">
                                    <div class="textarea-govco">
                                        <div class="div-character" id="divtextarea-example">
                                            <textarea class="form-control" rows="5" placeholder="Escribe aquí tu descripción"
                                                maxlength="255" formControlName="descripcionAdjuntoIntermediario"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
                                            </textarea>
                                            <div class="div-count-character"><span class="hidden span-message-character"
                                                    id="messagetextarea-example">Alcanzó el máximo de carácteres
                                                    permitidos</span><span class="float-right pr-3 span-count-character"
                                                    id="counttextarea-example">300</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" text-right>
                        <div class="col-md-4  text-left">
                            <a (click)='SeleccionarArchivoIntermediario()' class="btn btn-round btn-middle">Seleccionar archivo</a>
                        </div>
                        <div class="col-md-4  text-left m-auto">
                            <a *ngIf="adjuntoPendienteIntermediario != null">{{adjuntoPendienteIntermediario.FileName}}</a>
                        </div>
                        <div class="col-md-4  text-right ">
                            <a (click)='agregarArchivoIntermediario()' class="btn btn-round btn-high">AGREGAR</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <br>
                        <b class="tg-0lax">Adjuntos:</b>
                        <br>
                        <div *ngFor="let file of adjuntosIntermediario; let i = index;" class="row border-bottom">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="m-0">{{file.FileName}}</p>
                                    <p>{{file.Description}}</p>
                                </div>
                            </div>
                            <div class="col-md-6  text-right">
                                <div class="form-group  text-right">
                                    <button type="button" class="close" aria-label="Close">
                                        <i _ngcontent-ryh-c4="" class="material-icons page-icon-close align-middle">clear</i>
                                        <u (click)='eliminarArchivoIntermediario(i)'>Eliminar</u>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <h3 class="tg-0lax">Datos de ubicación</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group-govco">Departamento *</label>
                                <app-dropdownlist (change)="actualizarDepartamentoUbicacionIntermediario()" ngDefaultControl formControlName="departamentoUbicacionIntermediario" [items]="data.departamentos">
                                </app-dropdownlist>
                                <div *ngIf="submitted && f.departamentoUbicacionIntermediario.errors" class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group-govco">Municipio *</label>
                                <app-dropdownlist ngDefaultControl formControlName="municipioUbicacionIntermediario" [items]="data.municipiosUbicacionIntermediario">
                                </app-dropdownlist>
                                <div *ngIf="submitted && f.municipioUbicacionIntermediario.errors" class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Teléfono</p>
                                <input formControlName="telefonoUbicacionIntermediario" class="form-control input-govco" numbersOnly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Dirección</p>
                                <input formControlName="direccionUbicacionIntermediario" class="form-control input-govco">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group-govco">Correo electrónico*</label>
                                <input class="form-control input-govco" formControlName="correoUbicacionIntermediario"
                                    [ngClass]="{ 'is-invalid': submitted && f.correoUbicacionIntermediario.errors  && requiereIntermediarioValor === 'SI'}">
                                <div *ngIf="submitted && f.correoUbicacionIntermediario.errors && requiereIntermediarioValor === 'SI'"
                                    class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-group-govco">Confirmación de correo electrónico*</label>
                                <input class="form-control input-govco" formControlName="correoUbicacionIntermediario2"
                                    [ngClass]="{ 'is-invalid': submitted && f.correoUbicacionIntermediario2.errors  && requiereIntermediarioValor === 'SI'}">
                                <div *ngIf="submitted && f.correoUbicacionIntermediario2.errors && requiereIntermediarioValor === 'SI'"
                                    class="text-danger">
                                    Campo sin diligenciar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><strong>Solo aplica para bienes de interés cultural del ámbito nacional</strong></p>
                    <p><strong>Teléfono: </strong>Ingrese el indicativo del país, de la ciudad, del municipio y el
                        número
                        telefónico. Ejemplo +57 (1) 342 4100. No ingresar datos del operador de larga distancia (09, 07
                        o 05),
                        solo
                        el indicativo local entre paréntesis y el número de contacto.</p>
                    <p><strong>Correo electrónico: </strong>Ingrese solo una (1) dirección de correo. Debe incluirse de
                        la
                        manera
                        estándar, el taxto en minúsculas y sin tíldes. Ejemplo: correo@mincultura.gov.co</p>
                    <p><strong>Dirección: </strong>Este dato debe incluirse con las palabras calle, carrera,
                        transversal,
                        diagonal,
                        etc. completas y debe utilizarse el signo # (si aplica) y un guion. Si el nombre del barrio hace
                        parte
                        de la
                        dirección, debe incluirse completo y sin abreviaturas.</p>
                </div>
            </div>
        </div>
    </div>   
    <div class="card govco-card mb-3">

        <h3 class="title-section">Destino</h3>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">País *</label>
                        <app-dropdownlist ngDefaultControl formControlName="PaisDestino" [items]="data.paises">
                        </app-dropdownlist>
                        <div *ngIf="submitted && f.PaisDestino.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="!(colombiaSeleccionado())">
                    
                    <div class="form-group">
                        <label class="form-group-govco">Ciudad *</label>
                        <input class="form-control input-govco" formControlName="ciudadDestino">
                        <div *ngIf="submitted && f.ciudadDestino.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="colombiaSeleccionado()">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Departamento *</label>
                        <app-dropdownlist (change)="actualizarDepartamentoDestino()" ngDefaultControl formControlName="departamentoDestino" [items]="data.departamentos">
                        </app-dropdownlist>
                        <div *ngIf="submitted && f.departamentoDestino.errors && colombiaSeleccionado()"
                            class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Municipio *</label>
                        <app-dropdownlist ngDefaultControl formControlName="municipioDestino" [items]="data.municipiosDestino">
                        </app-dropdownlist>
                        <div *ngIf="submitted && f.municipioDestino.errors && colombiaSeleccionado()" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Dirección *</label>
                        <input class="form-control input-govco" formControlName="direccionDestino"
                            [ngClass]="{ 'is-invalid': submitted && f.direccionDestino.errors }">
                        <div *ngIf="submitted && f.direccionDestino.errors" class="text-danger">
                            Campo sin diligenciar.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Fines de exportación</label>
                        <app-dropdownlist ngDefaultControl formControlName="finExportacion" [items]="data.finesExportacion">
                        </app-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Entidad destino</label>
                        <input formControlName="entidadDestino" class="form-control input-govco">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-group-govco">Teléfono</label>
                        <input formControlName="telefonoDestino" class="form-control input-govco" numbersOnly>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="title-section mt-3">Tiempo de permanencia fuera del país</h3>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control input-govco" numbersOnly formControlName="tiempoPermanencia">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <app-dropdownlist ngDefaultControl formControlName="tipoPermanencia" [items]="data.tiposPermanencia">
                        </app-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>- En caso de que su solicitud sea con fines de exposición o investigación diligencie el tiempo de
                        permanencia.
                    </p>
                    <p>- En caso de que se trate de una salida temporal el tiempo de permanencia no podrá exceder los
                        tres
                        años.</p>
                    <p>En caso de que su solicitud sea con fines de excibición al público o estudio científico y
                        programas
                        de
                        intercambio entre entidades estatales y extranjeras.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="chk-govco">
                        <input type="checkbox" checked="checked" id="checkbox_1" formControlName="autoriza"
                            [ngClass]="{ 'is-invalid': submitted && f.autoriza.errors }">
                        <label for="checkbox_1">
                            Autorizo al ministerio de cultura para el uso de los datos aqui consignados. Para conocer mas
                            sobre la
                            política de datos personales pueden ingresar <strong>aquí</strong>
                        </label>
                        <div class="chk-govco__indicator"></div>
                    </label>
                    <div *ngIf="submitted && f.autoriza.errors" class="text-danger">
                        Campo sin diligenciar.
                    </div>
                </div>
            </div>
            <div class="row m-4" *ngIf="1===1">
                <div class="col-md-12">
                    <div class="row recaptcha-container">
                        <div class="form-group">
                            <re-captcha formControlName="formControlRecaptcha"
                                [ngClass]="{ 'is-invalid': submitted && f.formControlRecaptcha.errors }">
                            </re-captcha>
                            <div *ngIf="submitted && f.formControlRecaptcha.errors" class="text-danger">
                                Campo sin diligenciar.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <a (click)="volver()" class="btn btn-round btn-middle">Cancelar</a>
            </div>
            <div class="col-md-6 text-center">
                <a (click)="open(content)" class="btn btn-round btn-high">Guardar</a>
            </div>
        </div>

        <ng-template #content let-modal class="modal fade govco-modal-medium show" tabindex="-1" role="dialog"
            style="display: block; z-index: 4; padding-right: 17px;" aria-modal="true">
            <div>
                <div class="modal-dialog alert-govco modal-medium modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <em class="material-icons color-green" style="font-size: 50px">check_circle</em>
                            <div id="modal-content-title"
                                class="modal-content-title content-govco modal-content-success text-center">Guardado
                            </div>
                            <p id="modal-content-txt" class="modal-content-txt content-govco">La solicitud ha sido
                                guardada
                                con éxito</p>
                            <p id="modal-content-txt" class="modal-content-txt content-govco">Tu número de solicitud es
                            </p>
                            <p id="modal-content-txt" class="modal-content-txt content-govco">0175-2018</p>
                            <p id="modal-content-txt" class="modal-content-txt content-govco">Tu solicitud aún no ha
                                iniciado trámite ante el ministerio, debe completar los requisitos, agregar obras y
                                presionar el botón enviar al ministerio.</p>
                            <a (click)="closeModal()" class="btn btn-round btn-high">ENTENDIDO</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<div *ngIf="service.paso === 3 || service.paso === 4">
    <br>
    <h2 class="tg-0lax">Resumen de la solicitud</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p><strong>Fecha</strong></p>
                <p>20-02-2018</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <p><strong>Estado</strong></p>
                <p>Guardada</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p><strong>No. de radicación</strong></p>
                <p>0175-2018</p>
            </div>
        </div>
    </div>
</div>