
<div id="antecedentes-fiscales-container" class="row">
    <app-tramite-detail class="col-md-12"
        [name] = "'antecedentes-fiscales'"
        [owner] = "'contraloria'"
        [id] = "'17084'">
    </app-tramite-detail>

    <div class="col-md-9 tramite-area">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-3 area-servicio">
        <govco-area-servicios module="Tramites" itemid="17084" step="2"></govco-area-servicios>
        <app-btn-volver [tramite]="'servicios-y-tramites/T17084'" [type]="'redirect'" ></app-btn-volver>        
    </div>
</div>
