// Colores diseño GOV.CO
$color-selago: #E5EEFB;
$color-dodger-blue: #3772FF;
$color-marine: #3366CC;
$color-dark-blue: #004884;
$color-green: #069169;
$color-gold: #FFAB00;
$color-orange:#F3561F;
$color-concrete: #F2F2F2;
$color-silver: #BABABA;
$color-tundora: #4B4B4B;
$color-tutu: #FFF2FA;
$color-radical-red: #F42E62;
$color-shiraz: #A80521;

$color-pale-sky: #6c757d;
$color-hawkes-blue:#E6EFFD;
$color-hawkes-blue-300:  rgba(157,190,255, 0.3); // #E6EFFD + opacidad del 0.3
$color-catalina-blue: #0B457F;
$color-catalina-blue-600: rgba(11, 69, 127, 0.6); // #0B457F + opacidad del 0.6;
$color-black-160: rgba(0, 0, 0, 0.16); // black + opacidad del 0.16
$color-marine-400: rgba(51,102,204, 0.4); // #3366CC + opacidad del 0.4
$color-dark-blue-500: rgba(0,72,132,0.5); // 004884 + opacidad del 0.5
$color-dark-blue-200: rgba(0,72,132,0.2); // 004884 + opacidad del 0.2
$color-shiraz-600: rgba(168,5,33, 0.6); // #A80521 + opacidad del 0.6;