/*------------------------------------
  $Sprites
 ------------------------------------*/
 $spr-url-icon: "assets/images/spr-icons-govco.png";
 $spr-url-forms: "assets/images/spr-forms-govco.png";
 $spr-url-base: "assets/images/spr-govco.png";