.titulo_popuptramite{
    color: #0B457F !important;
    font-weight: bold;
    font-size: 20px;
}
.hr-popuptramites{
    left: 0px;
    top: 11%;
    right: 0px;
    height: 8%;
    width: 100%;
    color: #0B457F;
    text-align: center;
    border-top: 2px !important;
    border-top-style: solid !important;
    border-top-color: #0061EA !important;
    background-color: #E5EEFB;
    display: block;
    position: relative;
}
.iconodisponible{
    max-width: 25px;
}