<div class="card govco-card col-md-12">
    <div class="row card-header pt-0">
        <label class="form-group-govco">Selecciona una opción</label>
    </div>
    <div class="row card-header pt-0">
        <h3 class="m-0 title-section">¿Qué tipo de solución deseas de la Superintendencia de Industria y Comercio?
        </h3>
    </div>
    <div class="card-body pt-0">
        <br>
        <div class="row">
            <div class="col-md-6 form-group select-govco">
                <a (click)="ConsultarEstado()" class="btn-low">Consultar estado</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 form-group select-govco">
                <a (click)="Denunciar()" class="btn-low">Denunciar</a>
            </div>
        </div>
    </div>    
</div>