<div class="modal-header">
    <button type="button" class="close" (click)="dismiss()" aria-hidden="true"><i class="material-icons">clear</i></button>
</div>

<div class="modal-body text-center">
    <strong>Content modal</strong> <br>
    <strong>Id:</strong> {{data[0].content}} <br>
    <strong>Nombre prestador:</strong> {{data[1].content}} <br>
    <strong>Código prestador:</strong> {{data[2].content}} <br>
    <strong>Depto:</strong> {{data[3].content}}
</div>

<div class="modal-footer justify-content-center" id="modal-options">
    <button type="button" class="btn btn-high" (click)="dismiss()"> Cerrar </button>
</div>
