
.generar-censo-indigena-footer{
  margin-top: 1.2rem;
  text-align: center;
}

.main-censoindigena-advice {
  margin-top: 2rem;

  .govco-card {
      padding: 1rem!important;
      text-align: justify;
  }

}
