<div class="col-12 pb-3" *ngIf="true">
  <app-notifications [typeMessage]="'success'" [show]="true" [title]="'Trámite registrado'"></app-notifications>
</div>
<div class="card govco-card p-3 mb-3">
  <div class="row card-header pt-0">
    <h3 class="m-0 title-section">Información del trámite</h3>
  </div>
  <label for="sustancia" class="form-group-govco">Se le informa que el trámite de Autorización para laborar horas
    extras, ha sido registrado</label>
  <br>
  <div class="row col-md-6 form-group">
      <div class=" card-header pt-0">
        <h3 class="m-0 title-section">No. De radicado</h3>
      </div>
      <div class=" card-header pt-0">
        <h3 class="m-0 title-section">Código de seguridad</h3>
      </div>
      <div class=" card-header pt-0">
        <label for="sustancia" class="form-group-govco">1234567</label>
      </div>
      <div class=" card-header pt-0">
        <label for="sustancia" class="form-group-govco">AA1234567</label>
      </div>
  </div>

  <div class="row mt-3">
    <div class=" col-md-12 registro-consulta-footer">
      <button id="save-user" (click)="aceptar()" class="btn btn-round btn-high">ACEPTAR</button>
    </div>
  </div>

</div>
