.line-border {
    border-radius: 25px;
    border: 2px solid rgb(197, 221, 242);
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  .registro-consulta-footer {
    text-align: center;
    button {
        margin: 10px;
    }
  }

  .main-invima-advice {
    margin-top: 2rem;  
    .govco-card {
        padding: 1rem!important;
        text-align: justify;
    }
  }

  .align-right{
    text-align: right;
    display: block;
  }

  .separate{
    padding: 20px;
  }
.icon-ayuda {
  margin: 0px!important;
}
.link-ayuda {
  margin-right: 0px!important;
}

.pw-10 {
  width: 10%;
}
.pw-15 {
  width: 15%;
}
.pw-20 {
  width: 20%;
}
.pw-25 {
  width: 25%;
}
.pw-30 {
  width: 30%;
}
.pw-35 {
  width: 35%;
}
.pw-40 {
  width: 40%;
}
.pw-45 {
  width: 45%;
}
.pw-50 {
  width: 50%;
}