<!--Elemento de carga del componente-->
<govco-header-2 menuoptions='[
      {"name":"Trámites y servicios", "url":"/ficha-tramites-y-servicios/", "state":"active", "isMobile":"true"},
      {"name":"Tu Opinión Cuenta", "url":"/tu-opinion-cuenta/", "isMobile":"true"},
      {"name":"Entidades", "url":"/entidades/", "isMobile":"true", "withNotification":"true"},
      {"name":"Portal Territorial", "url":"https://www.gov.co/territorial/", "isMobile":"true"},
      {"name":"Sobre Nosotros", "url":"/sobre-nosotros/", "isMobile":"true"}
    ]' ishome="true" isbeta="false">
</govco-header-2>
<section class="body">
    <govco-accesibility-bar></govco-accesibility-bar>
    <!--<div class="container">-->
        <app-main></app-main>
    <!--</div>-->
    <router-outlet></router-outlet>
</section>
<govco-back-to-top></govco-back-to-top>
<govco-footer></govco-footer>
