.main-minsalud-advice {
    margin-top: 2rem;

    .govco-card {
        padding: 1rem!important;
        text-align: justify;
    }

}

.modal-fit .modal-dialog {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
  }
  
  .modal-fit .modal-body {
    max-height: calc(100vh - 200px);
    overflow: auto;
  }

  .table-header-gov-co-blu {
    thead th {
        background-color: #006DCC;
        color: white;
    }
}