.disponibilidad-container {
    margin-top: 1.3rem;

    .btn-cita {
        margin-bottom: 1rem;
    }
}

.disponibilidad-footer{
    text-align: center!important;
}

.agm-map  {
    height: 240px!important;
    width: 100%; 
}
