  .main-invima-advice {
    margin-top: 2rem;
  
    .govco-card {
        padding: 1rem!important;
        text-align: justify;
    }
  
  }

  .registro-consulta-footer {
    text-align: center;

    button {
        margin: 10px;
    }
}

.line-border {
  border-radius: 25px;
  border: 2px solid rgb(197, 221, 242);
  padding: 10px;
  width: 100%;
  margin-top: -20px;
}

.label_normal {
  font-weight: normal !important;
}

.invalid-label{
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}