
.agenda-footer{
    margin-top: 1.2rem;
    text-align: center;
}

.main-minjusticia-advice {
    margin-top: 2rem;

    .govco-card {
        padding: 1rem!important;
        text-align: justify;
    }

    p {
        font-style: italic;
    }

}

