<div class="row card-header pt-0">
    <div class="col-12 m-auto p-0">
        <h3 class="m-0 title-section">Datos de la solicitud</h3>
    </div>
</div>
<div class="card-body">
    <div class="row" [formGroup]="form" [ngClass]="{'invalid-form' : invalidForm}" >
        <div class="col-md-6">
            <div class="form-group select-govco" [ngClass]="{'select-govco--error' : invalidTipoDocumento }">
                <label class="form-group-govco" for="selector-tipo-documento" >Tipo documento *</label>
                <app-dropdownlist ngDefaultControl  formControlName="tipo_documento" 
                (change)="changeValue($event)"
                (keypress)="onKeyValidNumber($event)"
                placeholder = "Ej: Cédula ciudadania" [items]="tiposDocumentos"></app-dropdownlist>  
                <div *ngIf="invalidTipoDocumento" class="invalid-label-dps">
                    Campo sin diligenciar
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="form-group" [ngClass]="{'select-govco--error' : invalidDocumento }" >
                <label class="form-group-govco" for="documento">Número de documento *</label>
                <input class="form-control input-govco" (change)="changeValue($event)" 
                (keypress)="onKeyValidNumber($event)"
                #inputDocumento [ngClass]="{'is-invalid' : invalidDocumento }" type="number" placeholder="Ej: 102039049" formControlName="documento"  />
                <div *ngIf="invalidDocumento" class="invalid-feedback invalid-label-dps">
                    Campo sin diligenciar
                </div>
            </div>                
        </div>

        <div class="col-md-12 select-govco--error" >
                <div class="form-group row recaptcha-container " [ngClass]="{'select-govco--error' : invalidRecaptcha }" >
                    <re-captcha formControlName="recaptcha" [ngClass]="{'is-invalid' : invalidRecaptcha }" ></re-captcha> 
                    <br>
                    <div *ngIf="invalidRecaptcha" class="invalid-label-dps-recaptcha">
                            Campo sin diligenciar
                    </div> 
                </div>  
            
  
        </div> 
        
    </div>

    <div class="agenda-footer col-md-12 text-center">
        <button class="btn btn-round btn-high" (click)="search()">GENERAR</button>
    </div>
</div>
