<div class="block block--gov-accessibility">
    <div class="block-options navbar-expanded">
        <a class="contrast-ref" (click)="contrast()">
            <span class="govco-icon govco-icon-contrast-n"></span>
            <label> Contraste </label>
        </a>
        <a class="min-fontsize" (click)="minFont()">
            <span class="govco-icon govco-icon-less-size-n" ></span>
            <label class="align-middle"> Reducir letra </label>
        </a>
        <a class="max-fontsize" (click)="maxFont()">
            <span class="govco-icon govco-icon-more-size-n"></span>
            <label class="align-middle"> Aumentar letra </label>
        </a>
        <a href="https://centroderelevo.gov.co/632/w3-channel.html" >
            <span class="govco-icon govco-icon-relief-n"></span>
            <label class="align-middle"> Centro de relevo </label>
        </a>
    </div>
</div>