.govco-register-advice {
    margin-top: 2.2rem;
}

.govco-register-terminos {
    font-weight: normal!important;
}

.registro-minjusticia-footer {
    text-align: center;

    button {
        margin: 10px;
    }
}

.password-form-control {
    margin-bottom: 0px!important;
}

.okterminos-link {
    text-decoration: underline!important;
}
.wspace-preline {
    white-space: pre-line;
}