.constancia-footer{
  margin-top: 1.2rem;
  text-align: center;
}

.main-sena-advice {
  margin-top: 1rem;

  .govco-card {
      padding: 1rem!important;
      text-align: justify;
  }

}

.certificado-constancia-footer {
  text-align: center;

  button {
      margin: 10px;
  }
}

.input-center{
  margin: auto;
}

.center{
  text-align: center;
  margin: auto;
}

.line-border {
  border-radius: 15px;
  border: 1px solid rgb(197, 221, 242);
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

