.terminos-container {
  text-align: center;
}

.aportes-parafiscales-footer {
  text-align: center;

  button {
      margin: 10px;
  }
}

.center{
  margin: auto;
  background: blue;
  text-align: center;
}


