<h3 class="m-0">¿Qué quieres hacer hoy?</h3>
<br>
<div class="card govco-card p-3 mb-3 col-md-6">
  <div >
    <a (click)="consultar()" class="btn-symbolic-govco d-flex">
      <div class="btn-symbolic-govco__title btn-symbolic-govco__title--left" style="width: 90%;">Consultar y actualizar
        trámites</div>
      <div class="govco-icon govco-icon-right-arrow" style="width: 10%;"></div>
    </a>
  </div>
</div>
<div class="card govco-card p-3 mb-3 col-md-6">
  <div >
    <a (click)="radicar()" class="btn-symbolic-govco d-flex">
      <div class="btn-symbolic-govco__title btn-symbolic-govco__title--left" style="width: 90%;">Radicar trámites y
        servicios</div>
      <div class="govco-icon govco-icon-right-arrow" style="width: 10%;"></div>
    </a>
  </div>
</div>