.govco-register-advice {
    margin-top: 2.2rem;
}

.button-footer {
    text-align: center;

    button {
        margin: 10px;
    }
}

.icon-ayuda {
    margin: 0px!important;
}
.link-ayuda {
    margin-right: 0px!important;
}
.chk-datos-personales {
    font-size: 1rem;
}