.titulocondicion{
    display: block;
    font-size: 14px;
    color: #004884;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}
.leyendadocumento{
    text-align: left;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 10px;
}
.nombredocumento{
    color: #0B457F;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1rem;
}
.infoadicional{
    font-size: 12px;
    display: inline;
    color: rgba(0, 0, 0, 0.87);
}
.iconodisponible{
    max-width: 25px;
}
  .title-subacordeon{
    color: #0B457F;
    font-weight: 600;
  }
  .labeltramiteabout{
    display: block;
    font-size: 20px;
    color: #3772FF !important;
    margin-top: 20px;
  }