<div class="body table-responsive">
        <app-tables [tableType]="'detail'" [hContent]="tDetail.Header" [bContent]="tDetail.Body" [hConfig]="tDetail.ConfigHeader" [bConfig]="tDetail.ConfigBody"></app-tables>
</div>

<a *ngIf="1 === 0" (click)="abrirPopup()" class="btn btn-round btn-high">Abrir popup</a>

    <br>
    <div class="row clearfix text-center">
            <div class="col-md-12">
            <p>Puedes descargar la totalidad de los resultados encontrados</p>
            </div>
    </div>
        <div class="row clearfix text-center">
                <div class="col-md-12">
                        <button (click)="descargarResultados()" class="btn btn-round btn-high">DESCARGAR RESULTADOS</button>
                </div>
            </div>
