.main-invima-advice {
    margin-top: 2rem;  
    .govco-card {
        padding: 1rem!important;
        text-align: justify;
    }
  }

  .registro-consulta-footer {
    text-align: center;
  
    button {
        margin: 10px;
    }
  }

  .line-border {
    border-radius: 25px;
    border: 2px solid rgb(197, 221, 242);
    padding: 20px;
    width: 100%;
    height: 100%;
  }

.icon-ayuda {
  margin: 0px!important;
}
.link-ayuda {
    margin-right: 0px!important;
}
.normal-font {
  font-weight: 500 !important;
}