<div class="clearfix table-detail">
    <div class="total-items float-left">
        <div class="form-group form-inline">
            <h2 class="title-result mb-3">Resultados</h2>
            <div class="input-group mb-3 form-inline form-search">
                <input class="ml-4 form-control" type="search" aria-label="Search" placeholder="Búsqueda" name="searchTerm" [(ngModel)]="service.searchTerm"/>
                <div class="input-group-append">
                    <span class="govco-icon govco-icon-search-cn"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="total-items float-right">
        {{total | async}} RESULTADOS
    </div>
</div>

<div class=" govco-table govco-table-filter table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr class="tr-govco row">
                    <th
                    *ngFor="let title of hContent; let j = index"
                    scope="col"
                    [class]="hContent[j].class !== undefined ? hContent[j].class + ' th-govco container-fluid h-100': hContent[j].hidden ? 'hidden': 'th-govco container-fluid h-100'">
                        <div *ngIf="hContent[j].hidden === undefined || hContent[j].hidden === false" class="justify-content-center h-100 form-inline">
                            <div [class]="filtersName[j].length > 0 ? 'col col-md-10 p-0' : 'p-0'">{{title.content}}</div>
                            <div [class]="filtersName[j].length > 0 ? 'col col-md-2 p-0 select-govco-filter' : 'hidden'">
                                <div ngbDropdown class="d-inline-block bootstrap-select form-control">
                                    <button class="btn form-control" ngbDropdownToggle></button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
                                        <div class="selector-container" *ngFor='let item of filters[j].content'>
                                            <button type="button" class="dropdown-item" (click)="setEvent(item)">
                                                <span>{{ item.text}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="scroll-light-govco">
                <tr *ngFor="let row of content | async; let i = index" >
                    <td *ngFor="let content of row; let j = index"
                        [class]="bConfig.length > 0 && (hContent[j].hidden === undefined || hContent[j].hidden === false) ? bConfig[j].class : hContent[j].hidden ? 'hidden' : 'td-govco'">
                        <a *ngIf="content.type === 'link'" [href]="content.link" [class]="content.class">{{content.content | dateMask: bConfig[j]}}</a>
                        <button *ngIf="content.type === 'link-event'" (click)="content.event($event, row, i)" [class]="content.class">{{content.content | dateMask: bConfig[j]}}</button>
                        <button *ngIf="content.type === 'button'" (click)="content.event($event, row, i)" [class]="content.class">{{content.content | dateMask: bConfig[j] }}</button>
                        <div *ngIf="content.type !== 'link' && content.type !== 'button' && content.type !== 'link-event'"  [class]="content.class" >{{content.content | dateMask: bConfig[j]}}</div>                      
                    </td>
                </tr>
            </tbody>
        </table>
</div>
<div class="div-pagination-item" >
    <div class="container-paginacion">
        <ngb-pagination [collectionSize]="total | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="4" [boundaryLinks]="true">
            <ng-template ngbPaginationEllipsis>...</ng-template>
            <ng-template ngbPaginationFirst><p class="p-title p-home">Inicio</p></ng-template>
            <ng-template ngbPaginationLast><p class=" p-title p-last">Fin</p></ng-template>
            <ng-template ngbPaginationPrevious><p class="p-title p-back">Anterior</p></ng-template>
            <ng-template ngbPaginationNext><p class="p-title p-next">Siguiente</p></ng-template>
            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
        </ngb-pagination>
    </div>
</div>
