<div class="row card-header pt-0">
    <div class="col-12 m-auto p-0">
        <h3 class="m-0 title-section">¿Qué quieres hacer hoy?</h3>
    </div>
</div>
<div class="card-body p-0">
    <div class="col-12 solicitudes">
        <label class="checklist-govco pb-1 pt-1">
            <span (click)="escogerOpcion()">Consultar solicitudes</span>
        </label>
        <label class="checklist-govco disabled">
            <div class="d-flex bd-highlight">
                <span class="mr-auto mt-auto mb-auto bd-highlight">Registrar una solicitud</span>
                <span class="p-1 bd-highlight">Disponible proximamente</span>
            </div>
        </label>
        <label class="checklist-govco disabled">
            <div class="d-flex bd-highlight">
                <span class="mr-auto mt-auto mb-auto bd-highlight">Registrar una PQRS</span>
                <span class="p-1 bd-highlight">Disponible proximamente</span>
            </div>
        </label>
    </div>
</div>





