<div id="containerPasaporte" class="row">    
    <app-tramite-detail
        id="containerDetail"
        class="col-md-12" 
        [name]="'tramitar-pasaporte'" 
        [owner]="'cancilleria'">
    </app-tramite-detail>
    <div class="col-md-9 tramite-area">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-3 area-servicio">
        <govco-area-servicios module="Tramites" itemid="1033" step="1"></govco-area-servicios>
        <app-btn-volver [tramite]="'ficha-tramites-y-servicios/S002'" [type]="'redirect'"></app-btn-volver>
    </div>
</div>
