<app-tramite-detail [name]="'consulta'" [owner]="'minsalud'"></app-tramite-detail>
<div class="tramite-container row">
    <div class="col-md-9 tramite-area">
        <div class="card-body p-0 mb-3" *ngIf="concultaService.invalidForm">
            <app-notifications [typeMessage]="'error'" [message]="errorMessage.message" [title]="errorMessage.title"
                [show]='concultaService.invalidForm'>
            </app-notifications>
        </div>
        <div class="card-body p-0 mb-3" *ngIf="successDownload && concultaService.descargaCompleta">
            <app-notifications [typeMessage]="'success'" [message]="" [title]="successMessage" [show]='successDownload' class="mb-2"></app-notifications>                
        </div>
        <div class="main-minsalud-advice">
            <div class="card govco-card p-0">
                <div class="card-body p-0">
                    <article id="Tabs">
                        <h3 class="pt-3 pl-3 pb-2 title-section"> Consultar registro actual prestadores</h3>
                        <div id="div-tabs">
                            <div id="div-tabs-item" class="p-0">
                                <div class="tabs-govco">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li *ngFor="let opcionLoop of concultaService.opciones; let first = first;"
                                            [ngClass]="{firstItem: first}" role="presentation" class="nav-item"
                                            [class.active]="concultaService.opcionSeleccionada===opcionLoop">
                                            <a (click)="concultaService.seleccionarHistoria(opcionLoop)"
                                                class="nav-link" data-toggle="tab" role="tab"
                                                [class.active]="concultaService.opcionSeleccionada===opcionLoop"
                                                aria-selected="concultaService.opcionSeleccionada===opcionLoop">{{opcionLoop}}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div *ngIf="concultaService.opcionSeleccionada === concultaService.opciones[5]"
                                            role="tabpanel" class="tab-pane active" id="one">
                                            <div [formGroup]="formGroup">
                                                <div class="col-12">
                                                    <div class="datos-basicos-sanciones mb-4">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Número de
                                                                        documento</label>
                                                                    <input class="form-control input-govco"
                                                                        maxlength="12" numbersOnly
                                                                        formControlName="numero_documento">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Naturaleza
                                                                        jurídica</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="naturaleza_juridica"
                                                                        [items]="concultaService.listaNaturalezaJuridica">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="datos-servicios-sanciones mb-4">
                                                        <h3 class="title-section mb-2">Sanciones - Ley 9 de 1979 -
                                                            Articulo 577</h3>
                                                        <h3 class="title-section">Datos del servicio</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Grupo</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="grupo"
                                                                        [items]="concultaService.listaGrupo">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Servicio</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="servicio_nombre"
                                                                        [items]="concultaService.listaNombreServicio">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="title-section mt-3">Modalidad</h3>
                                                    <div class="row">
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="idIntramuralAmbulatorio"
                                                                        formControlName="intramural_ambulatorio" />
                                                                    <label for="idIntramuralAmbulatorio">
                                                                        Intramural: Ambulatorio
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="intramural_hospitalario"
                                                                        formControlName="intramural_hospitalario" />
                                                                    <label for="idIntramuralHospitalario">
                                                                        Intramural: Hospitalario
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="idExtramuralDomiciliario"
                                                                        formControlName="extramural_domiciliario" />
                                                                    <label for="idExtramuralDomiciliario">
                                                                        Extramural: Domiciliario
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="idExtramuralOtras"
                                                                        formControlName="extramural_otras" />
                                                                    <label for="idExtramuralOtras">
                                                                        Extramural: Otras
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="idExtramuralUnidad"
                                                                        formControlName="extramural_unidad" />
                                                                    <label for="idExtramuralUnidad">
                                                                        Extramural: Unidad Móvil
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="idTelemedicinaCentro"
                                                                        formControlName="telemedicina_centro" />
                                                                    <label for="idTelemedicinaCentro">
                                                                        Telemedicina: Centro Referencia
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox"
                                                                        id="idTelemedicinaInstitucion"
                                                                        formControlName="telemedicina_institucion" />
                                                                    <label for="idTelemedicinaInstitucion">
                                                                        Telemedicina: Institución Remisora
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="title-section mt-3">Complejidad</h3>
                                                    <div class="row">
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="idBaja"
                                                                        formControlName="complejidad_baja" />
                                                                    <label for="idBaja">
                                                                        Baja
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="idMedia"
                                                                        formControlName="complejidad_media" />
                                                                    <label for="idMedia">
                                                                        Media
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pr-0">
                                                            <div>
                                                                <label class="chk-govco">
                                                                    <input type="checkbox" id="idAlta"
                                                                        formControlName="complejidad_alta" />
                                                                    <label for="idAlta">
                                                                        Alta
                                                                    </label>
                                                                    <div class="chk-govco__indicator"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sede-sanciones mb-4">
                                                        <h3 class="title-section mb-3">Datos de la sede</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Departamento</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="departamento_sede"
                                                                        [items]="concultaService.listaDepartamento"
                                                                        (change)="cargarMunicipios()">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Municipio</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="municipio_sede"
                                                                        [items]="concultaService.listaMunicipioFiltrado">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Código de la
                                                                        sede</label>
                                                                    <input maxlength="12" numbersOnly
                                                                        class="form-control input-govco"
                                                                        formControlName="codigo_sede">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Zona</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="zona"
                                                                        [items]="concultaService.listaZona">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="datos-prestador mb-4">
                                                        <h3 class="title-section mb-3">Datos Generales del
                                                            prestador</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Código del
                                                                        prestador</label>
                                                                    <input maxlength="12" numbersOnly
                                                                        class="form-control input-govco"
                                                                        formControlName="codigo_prestador">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Clase del
                                                                        prestador</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="clase_prestador"
                                                                        [items]="concultaService.listaClasePrestador">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Empresa social del
                                                                        estado</label>
                                                                    <input class="form-control input-govco"
                                                                        formControlName="empresa_estado">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Nivel de atención
                                                                        del prestador</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="nivel_atencion"
                                                                        [items]="concultaService.listaNivelAtencionPrestador">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-group-govco">Carácter
                                                                        territorial</label>
                                                                    <app-dropdownlist ngDefaultControl
                                                                        formControlName="caracter_territorial"
                                                                        [items]="concultaService.listaCaracterTerritorial">
                                                                    </app-dropdownlist>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="validacion">
                                                        <div class="row m-4">

                                                            <div class="col-md-12">
                                                                <div class="row recaptcha-container">
                                                                    <div class="form-group">
                                                                        <re-captcha
                                                                            formControlName="recaptcha">
                                                                        </re-captcha>
                                                                        <div *ngIf="concultaService.invalidRecaptcha"
                                                                            class="text-danger">
                                                                            Campo sin diligenciar.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-3">
                                                            <div class="col-6 text-right">
                                                                <button class="btn btn-round btn-middle wb-150"
                                                                    (click)="limpiar()">LIMPIAR</button>
                                                            </div>
                                                            <div class="col-6 text-left">
                                                                <button id="save-user"
                                                                    class="btn btn-round btn-high wb-150"
                                                                    (click)="search()">
                                                                    BUSCAR</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 area-servicio">
        <govco-area-servicios module="Tramites" itemid="1033" step="2"></govco-area-servicios>
        <app-btn-volver [tramite]="'servicios-y-tramites/T24609'" [type]="'redirect'"></app-btn-volver>
    </div>
</div>
<div class="table-container">
    <div *ngIf="concultaService.mostrarDetalle" class="mt-3">
        <div *ngIf="concultaService.opcionSeleccionada === concultaService.opciones[5]" role="tabpanel"
            class="tab-pane active" id="one">
            <div>
                <app-tables [tableType]="'detail'" [hContent]="concultaService.tDetail.Header"
                    [bContent]="concultaService.tDetail.Body" [hConfig]="concultaService.tDetail.ConfigHeader"
                    [bConfig]="concultaService.tDetail.ConfigBody"></app-tables>
            </div>
            <div class="row clearfix text-center">
                <div class="col-md-12">
                    <br>
                    <p>Puedes descargar la totalidad de los resultados encontrados</p>
                </div>
            </div>
            <div class="row clearfix text-center">
                <div class="col-md-12">
                    <a (click)="descargarResultados()" class="btn btn-round btn-high">Descargar resultados</a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="concultaService.mostrarDetalleSinResultados" class="mt-3">
        <ngb-alert class="text-center" (close)="concultaService.mostrarDetalleSinResultados=false" type="danger">
            <strong>No hay resultados para la consulta</strong><br />
        </ngb-alert>
    </div>
</div>