<td class="tg-0lax">
    <h3 class="title-section pl-3">¿Qué quieres hacer hoy?</h3>
</td>   
<div id="div-tabs">
    <div id="div-tabs-item" class="pl-3 pt-3">
        <div class="row">
            <div class="col-md-6 option-right">
                <a class="btn btn-round btn-middle w-75 mt-3" (click)="Consultar()">Consultar y actualizar trámite</a>
            </div>
            <div class="col-md-6 option-right">
                <a class="btn btn-round btn-middle w-75 mt-3" (click)="Solicitar()">Radicar Trámite</a>
            </div>
        </div>
    </div>
</div>