.center{
  text-align: center;
}

.input-center{
  margin: auto;
}

.aportes-parafiscales-footer {
  text-align: center;

  button {
      margin: 10px;
  }
}

.adviceMessage {
  margin-top: 2rem;
  padding-top: 0.6rem!important;
  padding-bottom: 0.6rem!important;
}

.terminos-container{
  margin: 10px;
}
