<div [formGroup]="registerForm" appInputValidator [validate]="invalidForm" [ngClass]="{'invalid-form' : invalidForm}">
  <div class="card govco-card mb-3">
    <div class="ingresar-obras">
      <h3 class="title-section">Ingresar obra</h3>
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-group-govco">Grupo*</label>
              <app-dropdownlist ngDefaultControl [selected]="valoresConsulta?.grupo" formControlName="grupo"
                [items]="data.grupo">
              </app-dropdownlist>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-group-govco">Subgrupo*</label>
              <app-dropdownlist ngDefaultControl [selected]="valoresConsulta?.subgrupo" formControlName="subgrupo"
                [items]="data.subgrupo">
              </app-dropdownlist>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-group-govco">Categoría*</label>
              <app-dropdownlist ngDefaultControl [selected]="valoresConsulta?.categoria" formControlName="categoria"
                [items]="data.categoria">
              </app-dropdownlist>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-group-govco">Autor*</label>
              <input class="form-control input-govco" formControlName="autor"
                [ngClass]="{ 'is-invalid': submitted && f.autor.errors }">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-group-govco">Titulo*</label>
              <input class="form-control input-govco" formControlName="titulo"
                [ngClass]="{ 'is-invalid': submitted && f.titulo.errors }">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-group-govco">Firmado*</label>
              <app-dropdownlist ngDefaultControl [selected]="valoresConsulta?.firmado" formControlName="firmado"
                [items]="data.firmado">
              </app-dropdownlist>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-group-govco">Año elaboración</label>
              <input class="form-control input-govco" numbersOnly formControlName="anoElaboracion"
                [ngClass]="{ 'is-invalid': submitted && f.anoElaboracion.errors }">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-group-govco">Época*</label>
              <app-dropdownlist ngDefaultControl [selected]="valoresConsulta?.epoca" formControlName="epoca"
                [items]="data.epoca">
              </app-dropdownlist>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card govco-card mb-3">
    <h3 class="title-dimensiones">Dimensiones</h3>
    <p>Para tomar las medidas de los bienes guiese por las gráficas. Las dimensiones deben darse según el sistema
      métrico
      decimal, en centimetros. (cms) <strong>Ver instructivo de medidas bienes</strong></p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-group-govco">Alto* (cms)</label>
          <input class="form-control input-govco" numbersOnly formControlName="alto"
            [ngClass]="{ 'is-invalid': submitted && f.alto.errors }">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-group-govco">Ancho* (cms)</label>
          <input class="form-control input-govco" numbersOnly formControlName="ancho"
            [ngClass]="{ 'is-invalid': submitted && f.ancho.errors }">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-group-govco">Largo (cms)</label>
          <input class="form-control input-govco" numbersOnly formControlName="largo"
            [ngClass]="{ 'is-invalid': submitted && f.largo.errors }">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-group-govco">Profundidad (cms)</label>
          <input class="form-control input-govco" numbersOnly formControlName="profundidad"
            [ngClass]="{ 'is-invalid': submitted && f.profundidad.errors }">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-group-govco">Espesor (cms)</label>
          <input class="form-control input-govco" numbersOnly formControlName="espesor"
            [ngClass]="{ 'is-invalid': submitted && f.espesor.errors }">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-group-govco">Cantidad: Número de copias del bien</label>
          <input class="form-control input-govco" numbersOnly formControlName="cantidad"
            [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }">
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12 text-center">
        <div class="form-group text-center">
          <img src="assets/images/src-mincultura-medidas.png" alt="Medidas MinCultura.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="form-group-govco">Observaciones</label>
          <div id="div-textarea-item">
            <div class="textarea-govco">
              <div class="div-character" id="divtextarea-example">
                <textarea class="form-control" rows="5" placeholder="Escribe aquí tus observaciones" maxlength="255"
                  id="observaciones" formControlName="observaciones" class="form-control">
                                              </textarea>
                <div class="div-count-character"><span class="hidden span-message-character" id="observaciones">Alcanzó
                    el máximo de carácteres
                    permitidos</span><span class="float-right pr-3 span-count-character"
                    id="counttextarea-example">255</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card govco-card mb-3">
    <h3 class="title-fotografias">Fotografías</h3>
    <p>Con el fin de recordar a los usuarios que los archivos a subir solo deben corresponder a archivos con extensión
      tipo imágen, así mismo debe implementar la validación para garantizar el cumplimiento de esta solicitud.</p>

    <div class="row" text-right>
      <div class="col-md-4  text-left">
        <a (click)='SeleccionarFotografiaObra()' class="btn btn-round btn-middle">Seleccionar archivo</a>
      </div>
      <div class="col-md-4  text-left m-auto">
        <a *ngIf="fotografiaPendienteObra != null">{{fotografiaPendienteObra.FileName}}</a>
      </div>
      <div class="col-md-4  text-right ">
        <a (click)='agregarFotografiaObra()' class="btn btn-round btn-high">AGREGAR</a>
      </div>
    </div>
    <div class="form-group">
      <br>
      <b class="tg-0lax">Adjuntos:</b>
      <br>
      <div *ngFor="let file of fotografiasObra; let i = index;" class="row border-bottom">
        <div class="col-md-6">
          <div class="form-group">
            <p class="m-0">{{file.FileName}}</p>
            <p>{{file.Description}}</p>
          </div>
        </div>
        <div class="col-md-6  text-right">
          <div class="form-group  text-right">
            <button type="button" class="close" aria-label="Close">
              <i _ngcontent-ryh-c4="" class="material-icons page-icon-close align-middle">clear</i>
              <u (click)='eliminarFotografiaObra(i)'>Eliminar</u>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card govco-card mb-3">
    <h3 class="title-propietario">Propietario</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="form-group-govco">Nombre*</label>
          <input class="form-control input-govco" formControlName="propietarioNombre"
            [ngClass]="{ 'is-invalid': submitted && f.propietarioNombre.errors }">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-group-govco">Tipo de documento*</label>
          <app-dropdownlist ngDefaultControl [selected]="valoresConsulta?.tipoDocumento" formControlName="tipoDocumento"
            [items]="data.TiposDocumento">
          </app-dropdownlist>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-group-govco">Número de documento*</label>
          <input class="form-control input-govco" numbersOnly formControlName="numeroDocumento"
            [ngClass]="{ 'is-invalid': submitted && f.numeroDocumento.errors }">
        </div>
      </div>
    </div>
    <div class="row m-4" *ngIf="1===1">
      <div class="col-md-12">
        <div class="row recaptcha-container">
          <div class="form-group">
            <re-captcha formControlName="formControlRecaptcha"
              [ngClass]="{ 'is-invalid': submitted && f.formControlRecaptcha.errors }">
            </re-captcha>
            <div *ngIf="submitted && f.formControlRecaptcha.errors" class="text-danger">
              Campo sin diligenciar.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <a (click)="cancelar()" class="btn btn-round btn-middle">Actualizar</a>
      </div>
      <div class="col-md-6 text-center">
        <a (click)="open(content)" class="btn btn-round btn-high">Agregar obra</a>
      </div>
    </div>
  </div>
</div>

<div class="card govco-card mb-3">
  <h3 class="title-propietario">Resumen de obras agregadas</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p><strong>Consecutivo</strong></p>
        <p>1</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <p><strong>Titulo</strong></p>
        <p>Titulo 1</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p><strong>Año declaración</strong></p>
        <p>2019</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <p><strong>Registro fotografico</strong></p>
        <p>1</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <p><u>Editar</u></p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-round btn-high" (click)="guardar(content)">ENVIAR AL MINISTERIO</a>
    </div>
  </div>
</div>

<ng-template #content let-modal class="modal-fit">
  <div class="modal-body text-center">
    <div id="modal-content-type-alert" class="modal-content-success text-center">
      <div class="alert-icon text-center">
        <em class="material-icons">check_circle</em>
      </div>
      <div id="modal-content-title" class="modal-content-title content-govco modal-content-success text-center">
        Guardado</div>
      <p id="modal-content-txt" class="modal-content-txt content-govco">La obra ha sido guardada con éxito</p>
      <p id="modal-content-1" class="modal-content-txt content-govco">Tu número de obra es</p>
      <p id="modal-content-2" class="modal-content-txt content-govco">001</p>
      <p id="modal-content-3" class="modal-content-txt content-govco">Verifique la información y el anexo. Solo una
        fotografía por obra. Su solicitud aún no ha iniciado trámite ante el ministerio, debe completar los
        requisitos, agregar obras y presionar el botón "Enviar al ministerio".</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a (click)="closeModal()" class="btn btn-round btn-high">ENTENDIDO</a>
    </div>
  </div>
</ng-template>

<ng-template let-modal class="modal-fit">
  <div class="modal-body text-center">
    <div id="modal-content-type-alert" class="modal-content-success text-center">
      <em class="material-icons color-green" style="font-size: 50px">check_circle</em>
      <h2 class="color-green">Enviado</h2>
      <p id="modal-content-txt" class="modal-content-txt content-govco">La solicitud ha sido enviada con éxito</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a (click)="closeModal()" class="btn btn-round btn-high">ENTENDIDO</a>
    </div>
  </div>
</ng-template>
