<div class="govco-table govco-table-basic">
    <table class="table table-striped">
        <thead>
            <tr>
                <th
                scope="col"
                *ngFor="let title of hContent; let j = index"
                [class]="hContent[j].class !== undefined ? hContent[j].class: hContent[j].hidden ? 'hidden': 'th-govco'">
                    {{title.content}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of bContent">
                <td
                *ngFor="let content of row; let j = index"
                [class]="hContent[j].hidden ? 'hidden' : 'td-govco'">
                  <a *ngIf="content.type === 'link'" [href]="content.link" [class]="content.class">{{content.content | dateMask: bConfig[j]}}</a>
                  <button *ngIf="content.type === 'link-event'" (click)="content.event($event, row, i)" [class]="content.class">{{content.content | dateMask: bConfig[j]}}</button>
                  <button *ngIf="content.type === 'button'" (click)="content.event($event, row, i)" [class]="content.class">{{content.content | dateMask: bConfig[j] }}</button>
                  <div *ngIf="content.type !== 'link' && content.type !== 'button' && content.type !== 'link-event'"  [class]="content.class" >{{content.content | dateMask: bConfig[j]}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
